body{
 
  align-items: center;
  align-content: center;
  
}
.container{
  display: flex;
  justify-content: center;
}
.booking {
  width: 60vw;
  margin: 2vh;
  padding: 8vh;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.booking h2 {
  text-align: center;
  color: #b95b02;
  margin-bottom: 4vh;
}

.booking form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.booking label {
  font-weight: 600;
  color: #333;
}

.booking input,.booking textarea {
  padding: 2vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.booking button{
  margin: auto;
  width: 20vw;
  padding: 2vh;
  background-color: #b95b02;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  transition:  0.2s;
}
.booking button:hover{
    background-color: #f27703;
    
}


