@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
 margin: 0;
 padding: 0;
}
body{
   font-family: 'Almarai', sans-serif;
    background-color:#f5f5f5;
    direction: rtl;
}
body::-webkit-scrollbar{
     width:0; height:0; 
}
.hero{
height: 45vh;
overflow: hidden;
position: relative;


}
.hero-img{
    height: 100%; 
    width: 100%; 
    object-fit:cover
}
.overLay{
    background: rgba(0,0,0,0.35);
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 99%;
    overflow: hidden;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    padding-right: 70px;
   
    
   


}
 .overLay h1{
    font-family:  'Changa', sans-serif;
  
    font-size: 3.5vw;
    font-weight:800;
    margin-bottom: 10px;
  
   
 }
 .overLay p{
    font-size:1.2rem;

    max-width:30vw;
    
 }


 .contaner{
 
    padding: 5vh 4vw;
 }
 .info-cards{
    display: flex;
    gap: 5vw;
    flex-wrap:wrap;
 }
 .card{
   
    background:#fff;
     flex:1; 
     min-width:180px; 
     padding:15px; 
     border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1); 
}
 .card p{
    color: #333;
    margin-bottom: 1vh;
   
 }
 .card strong{
    font-weight: 600;
    font-size: 1.1rem;
 }
i{
    margin-left: 10px;
}

.price-includes{
    background-color: #fff;
     padding:20px;
  
     /* padding-right: 3vw;  */
     border-radius:12px;
     box-shadow:0 4px 12px rgba(0,0,0,0.1); 
     margin-top: 5vh;
     display: flex;
     align-items: center;
     gap:3vw;
     
      margin-bottom: 5vh;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.price strong{
    font-size: 1.5rem;
    color: rgb(239, 175, 57)
    ;
}
.price p{
    font-size: 1.1rem;
    
}
.timeLine-gallery { 
    display:flex; gap:20px; 
}
.timeLine { flex:1; }
.gallery { flex:1; }

.day{
    background-color:#fff;
    margin-bottom:10px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1); 
    overflow:hidden;
   
      
}
.day-header{
    display: flex;
    justify-content: space-between;
    
    padding:2vh;
    

}
.day-header a{
    text-decoration: none;
    color: rgb(239, 175, 57) ;
}
.day-header h3{
    font-size: 1.1rem;
}
.day-header p{
    color: #666;
}
.day-content{
    display: none;
    
    padding:2.5vh; 
    background:#fafafa; 
    border-top:1px solid #eee;
}
.day-content ul { 
    padding-right:5vw; 
}
.day-content ul li { 
   
     margin-bottom:1.5vh;
     list-style-type: none;
 }
 .activity{
    padding-right: 3vw;
    
   
  
 }
.day.active .day-content{
    display: block;
}
.gallery h2{
    margin-top: 4vh;
    margin-bottom: 1vh;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  
  grid-auto-rows: 13vh;
  
   gap: 1.8vh;
}


.pic.big { grid-column: span 2; grid-row: span 3; height: auto; }
.pic.medium { grid-column: span 2; grid-row: span 2; height: auto; }


.pic { 
    border-radius:12px; 
    overflow:hidden; 
    box-shadow:0 6px 15px rgba(0,0,0,0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
 }
.pic:hover { 
    transform: scale(1.05); 
    box-shadow: 0 12px 25px rgba(0,0,0,0.35); 
    z-index:2; 
}
.pic img { width:100%; height:100%; object-fit:cover; }

.book{
    position: fixed;
    color: #fff;
    background-color: rgb(239, 175, 57) ;
    right: 43vw;
    bottom: 5vh;
    padding: 0.5vh 1.5vw ;
    border-radius: 25px;
    font-size: 1.3rem;
    z-index: 10;
    font-weight: 600;
    animation: floatAnimation 2s ease-in-out infinite;
     box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  
    
}
@keyframes floatAnimation {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-8px); } 
}
.book:hover {
    background-color:  rgb(224, 172, 75);
    
}
@media (max-width: 1024px) {
    
     .overLay h1{
     font-size:2.2rem;
    margin-bottom: 1.5vh;
  
 }
 .price-includes{
   font-size: 0.8rem;
   
}
 .price p{
   
   font-size: 0.7rem;
}
 
 .overLay p{
    font-size:0.9rem;
   
    
 }
 
 .info-cards{
    
    gap: 3.2vw;
   
 }
  .card{
   
     padding:2vh; 
    
}
.price strong{
    font-size: 1rem;
   
}
.day{
    
    margin-bottom:1.5vh;
      
}
.day-header h3{
    font-size: 0.8rem;
}
}



@media (max-width: 768px) {
    .timeLine-gallery {
        flex-direction: column;
    }
    .overLay h1 {
        font-size: 2rem;
    }
    .overLay p {
        font-size: 1rem;
        max-width: 250px;
    }
   
}

.book {
    position: fixed;
    color: #fff;
    background-color: rgb(239, 175, 57);
    right: 43vw;
    bottom: 5vh;
    padding: 0.5vh 1.5vw;
    border-radius: 25px;
    font-size: 1.3rem;
    z-index: 10;
    font-weight: 600;
    animation: floatAnimation 2s ease-in-out infinite;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

@keyframes floatAnimation {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
}

.book:hover {
    background-color: rgb(224, 172, 75);
}